<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
      <bindings>
          <wsDualHttpBinding>
              <binding name="sampleBinding" bypassProxyOnLocal="true" useDefaultWebProxy="true"/>
          </wsDualHttpBinding>
      </bindings>
      <services>
          <service behaviorConfiguration="returnFaults" name="DuplexContract.DuplexContractService">
              <endpoint binding="wsDualHttpBinding" 
                        bindingConfiguration="sampleBinding"
                        contract="DuplexContract.IDuplexContractService"/>
          </service>
      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.web>
        <compilation debug="true"/>
    </system.web>
</configuration>
