<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name ="sampleBinding" bypassProxyOnLocal="true" useDefaultWebProxy="true"/>
            </wsDualHttpBinding>
        </bindings>
        <services>
            <service name="WCFService/WCFCalculatorService">
                <host>
                    <baseAddresses>
                        <add baseAddress ="http://localhost:8732/WCFService/WCFCalculatorService/"/>
                    </baseAddresses>
                </host>
                <endpoint address="" binding="wsHttpBinding" contract="WCFService.IWCFCalculatorService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMexdataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="true"/>
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
